.login_header {
  background-image: url(../img/back/bg_banner_login.webp);
}
.board_header {
  background-image: url(../img/back/bg_banner_board.webp);
}
.book_header {
  background-image: url(../img/back/bg_banner_book.webp);
}

/* ========== book-header ========== */

.hidden {
  display: none;
}

li {
  text-align: center;
}

.tabs {
  font-size: var(--second-TT-fz);
  font-weight: 500;
  margin-bottom: 91px;
}

.tabs li {
  color: var(--typo-C-grey);
  padding-bottom: 17px;
  border-bottom: 3px solid var(--typo-C-grey);
}
.col.ui-tabs-active {
  border-bottom: 3px solid var(--secondary-brown);
}
.col.ui-tabs-active a {
  color: var(--secondary-brown);
}
input {
  width: 317px;
  font-size: var(--second-content-fz);
  padding-bottom: 10px;
  border-width: 0 0 1px 0;
  border-color: #767272;
}
input::placeholder {
  font-weight: 300;
  font-size: var(--second-content-fz);
  color: var(--typo-C-Green);
}

input:focus {
  outline: none;
}
.board_common_btn {
  display: inline-block;
  border: none;
  background: var(--secondary-brown);
  width: 88px;
  line-height: 42px;
  font-size: var(--content-fz);
  font-weight: 500;
  text-align: center;
  color: #fff;
}
/* ========== back-common ========== */
.book_uc p {
  width: 80%;
  height: 50vh;
  text-align: center;
  margin: 0 auto;
  padding: 25% 0 25% 0;
  border: 4px solid var(--secondary-ivory);
}
.cal_head {
  margin-bottom: 16px;
}
.noti,
.book_time p {
  color: var(--typo-C-grey);
  font-size: 14px;
  font-weight: 500;
}
.book_noti span {
  margin-right: 10px;
}
.book_noti span:last-child {
  margin-right: 0;
}
.book_noti span i {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--secondary-brown);
  margin-right: 6px;
  transform: translateY(-25%);
}
.book_noti span:last-child {
  color: #b3b3b3;
}

/* ========== datapicker ========== */

.ui-datepicker {
  padding: 27px 0;
  border: 3px solid var(--secondary-ivory);
  box-sizing: border-box;
}
.ui-datepicker .ui-datepicker-header {
  display: flex;
  justify-content: center;
  color: var(--secondary-brown);
  font-size: var(--second-TT-fz);
  font-weight: 700;
  margin: 0 0 36px 0;
}
#ui-datepicker-div {
  display: none;
}
.ui-datepicker-year:after {
  content: ".";
}
.ui-datepicker-prev span {
  background: url(/img/back/chevron-right.svg) no-repeat;
  display: block;
  width: 17px;
  height: 28px;
  margin-right: 50px;
}
.ui-datepicker-next span {
  background: url(/img/back/chevron-right.svg) no-repeat;
  display: block;
  width: 17px;
  height: 28px;
  margin-left: 50px;
  transform: rotate(180deg);
}
.ui-datepicker-next {
  order: 4;
}
.ui-datepicker-calendar {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.ui-datepicker-calendar thead {
  position: relative;
}
.ui-datepicker-calendar thead tr {
  height: 53px;
}

.ui-datepicker-calendar thead:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 27px;
  border-bottom: 2px solid var(--secondary-brown);
}
.ui-datepicker-calendar tbody tr {
  font-size: var(--small-content-fz);
  font-weight: 700;
  line-height: 37px;
}
.ui-datepicker-calendar tbody tr:first-child {
  border-collapse: separate;
}
.ui-state-disabled span {
  color: #b3b3b3;
}
.ui-datepicker-today a {
  position: relative;
}
.ui-datepicker-today a:after {
  content: "";
  position: absolute;
  left: calc(50% - 0.25em);
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--secondary-brown);
}
.ui-datepicker-current-day a {
  position: relative;
  color: #fff;
}
.ui-datepicker-current-day a:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: var(--secondary-brown);
}

/* ========== book time ========== */
.book_time {
  margin-top: 38px;
}
.book_time h4 {
  margin-bottom: 16px;
}

.book_time > div {
  padding: 27px 0 27px 51px;
  border: 2px solid #8d8d8d;
}
.book_time dl {
  color: var(--secondary-brown);
  font-weight: 500;
  display: flex;
  line-height: 27px;
}

.book_time dl dt {
  margin-right: 9px;
}

.book_time p {
  line-height: 27px;
}
#data_tabs ul {
  font-size: var(--content-fz);
  font-weight: 400;
}
/* ========== DATABOARD ========== */
#data_tabs h4 {
  margin-bottom: 19px;
}
.course_tabs {
  line-height: 45px;
  border: 2px solid var(--secondary-brown);
  color: var(--secondary-brown);
  margin-bottom: 25px;
}
.course_tabs li {
  border-right: 2px solid var(--secondary-brown);
}
.course_tabs li:last-child {
  border-right: none;
}
.course_tabs li.active {
  background: var(--secondary-brown);
  color: var(--bg-white);
}
.course_content table {
  width: 100%;
  margin: 0 auto;
  font-size: var(--content-fz);
  color: var(--typo-C-grey);
  font-weight: 400;
  border-top: 3px solid var(--secondary-brown);
  border-bottom: 3px solid var(--secondary-brown);
}
.course_content table th,
.course_content table td {
  text-align: center;
}
.course_content table thead {
  font-weight: 500;
  line-height: 43px;
  border-bottom: 1px solid var(--secondary-brown);
}
.course_content table tbody tr td {
  line-height: 48px;
  border-bottom: 1px solid #bcbcbc;
  box-sizing: border-box;
  width: 20%;
}
.course_content tbody tr {
  display: none;
}
.course_content tbody tr.east {
  display: table-row;
}

.btn_booking {
  display: inline-block;
  color: var(--secondary-brown);
  font-size: var(--small-content-fz);
  width: 100px;
  height: 35px;
  line-height: 35px;
  background: var(--secondary-ivory);
  vertical-align: 0.18em;
}

/* ========== login ========== */
.login_wrapper {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}
.login_wrapper form {
  width: 544px;
  margin: 161px auto;
}

.login_wrapper .legend {
  color: var(--typo-C-Green);
  font-size: var(--big-TT-fz);
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 24px;
  border-bottom: 3px solid var(--secondary-brown);
}
.login_wrapper fieldset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 40px 0;
}

.login_field p:first-child {
  margin-bottom: 28px;
}

.login_wrapper button {
  width: 185px;
  height: 111px;
  border: none;
  background: var(--secondary-brown);
  font-size: var(--second-TT-fz);
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.05em;
}

.login_help {
  display: flex;
  justify-content: space-between;
}
.btn_help {
  display: flex;
  justify-content: space-between;
  gap: 17px;
}
.btn_help a {
  width: 182px;
  line-height: 43px;
  background: var(--secondary-ivory);
  color: var(--secondary-brown);
  font-size: var(--second-content-fz);
  text-align: center;
  box-sizing: border-box;
}

.login_help .desc {
  font-weight: 300;
  font-size: var(--small-content-fz);
  line-height: 20px;
  width: 128px;
  color: var(--typo-C-Green);
}

.session {
  width: 350px;
  margin: 161px auto;
}
.session_title {
  color: var(--typo-C-Green);
  font-size: var(--main-TT-fz);
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 24px;
  border-bottom: 3px solid var(--secondary-brown);
}
.session_info p {
  margin: 30px;
}
.session_info p b {
  font-weight: 500;
}
.session_info .board_common_btn {
  width: 100%;
  padding: 15px;
  letter-spacing: 0.3em;
}
/* ========== board ========== */

.board_wrapper {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}
.search {
  margin: 37px 0;
  display: flex;
  justify-content: space-between;
}
select form:focus {
  outline: none;
}

.search select {
  width: 115px;
  height: 42px;
  border: 2px solid #bcbcbc;
  vertical-align: middle;
}
.search input {
  border-radius: 0%;
  border: 4px solid #bcbcbc;
  width: 327px;
  height: 42px;
  vertical-align: middle;
}
.search button {
  border: none;
  background: var(--secondary-brown);
  width: 88px;
  height: 42px;
  vertical-align: middle;
  font-size: var(--content-fz);
  font-weight: 500;
  color: #fff;
}
.board_wrapper table {
  width: 100%;
  margin: 0 auto;
  font-size: var(--content-fz);
  color: var(--typo-C-grey);
  font-weight: 400;
  border-top: 3px solid var(--secondary-brown);
  border-bottom: 3px solid var(--secondary-brown);
}
.board_wrapper table th,
.board_wrapper table td {
  text-align: center;
}
.board_wrapper table thead {
  font-weight: 500;
  line-height: 43px;
  color: var(--secondary-brown);
  background: var(--secondary-ivory);
}

.board_wrapper table tbody tr td {
  line-height: 48px;
  font-weight: 300;
  box-sizing: border-box;
  vertical-align: middle;
}
.board_wrapper table tbody tr td:nth-child(2) {
  width: 45%;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 32px;
  font-size: var(--content-fz);
}
.pagination i {
  font-size: 14px;
}
.pagination ol {
  display: flex;
  gap: 10px;
}
/* ========== board - write ========== */
.write_wrapper {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}
.write_wrapper fieldset {
  border: 2px solid var(--secondary-brown);
  padding: 30px;
}
textarea {
  margin-top: 10px;
  border: 2px solid var(--secondary-ivory);
}
.write_wrapper button {
  margin-top: 5px;
}
/* ========== board - view ========== */
.view_container {
  max-width: 768px;
  margin: 100px auto;
}
.view_box {
  width: 100%;
  border: 2px solid var(--secondary-brown);
  padding: 30px;
}
.view_title,
.view_date {
  margin-bottom: 10px;
}
.view_title {
  line-height: 1.8em;
  /* border-bottom: 2px solid var(--secondary-ivory); */
}
.view_name {
  margin-bottom: 10px;
  font-size: var(--second-content-fz);
  font-weight: 500;
}
.view_date {
  font-size: var(--small-content-fz);
  font-weight: 400;
}
.view_box article {
  border-top: 2px solid var(--secondary-ivory);
  padding-top: 10px;
  min-height: 13em;
}
.view_box article p {
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;
}
.view_container a {
  margin-top: 5px;
}
/* ============================== media ============================== */
@media (max-width: 1000px) {
  .tabs {
    font-size: var(--second-content-fz);
    font-weight: 500;
  }

  /* ========== book ========== */
}

@media (max-width: 991px) {
  .data h4 {
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  /* ========== book ========== */
  .tabs {
    display: flex;
    flex-direction: column;
  }
  .tabs li {
    padding: 12px;
  }
  .data h4 {
    margin-top: 30px;
  }
}
@media (max-width: 550px) {
  /* ========== login ========== */
  .login_wrapper form {
    width: 330px;
    margin: 50px auto;
  }
  .login_wrapper fieldset {
    flex-direction: column;
    margin: 10px 0 0px 0;
  }
  .login_wrapper button {
    width: 100%;
  }
  .login_field {
    margin: 25px 0 25px 0;
  }
  .login_help {
    flex-direction: column;
    text-align: center;
  }
  .login_help .desc {
    width: 100%;
    margin: 10px 0 10px 0;
  }
  br {
    display: none;
  }
  .btn_help a {
    font-size: var(--small-content-fz);
  }
  /* ========== book time ========== */
  .tabs {
    margin: 0 5px 38px 5px;
    font-size: var(--second-TT-fz);
  }
  #data_tabs {
    margin-top: 38px;
  }
  .book_time > div {
    padding: 5px;
  }
  .btn_booking {
    width: 100%;
  }
  .course_content table tbody tr td:nth-child(4) {
    padding: 5px;
  }
}
