@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
/* light 300 regular 400 medium 500 bold 700 black 900 */

/* ================== Varients ================================== */

:root {
  /* =================== COLOR =================== */
  --primary-green: #234a35;
  --primary-ygreen: #8ba63d;
  --secondary-ivory: #e9e4da;
  --secondary-brown: #8d7a5d;

  /* 글자색 */
  --typo-C-Green: #181f1b;
  --typo-C-grey: #404040;
  --typo-C-lightgrey: #808080;

  /* 배경색 */
  --bg-green: #f0f6e2;
  --bg-grey: #dfdfdf;
  --bg-white: #fff;

  /* =================== TYPOGRAPHY =================== */

  --big-TT-fz: 51px;
  --main-TT-fz: 37px;
  --second-TT-fz: 27px;
  --content-fz: 20px;
  --second-content-fz: 18px;
  --small-content-fz: 14px;
  --xsmall-content-fz: 12px;

  --mobile-mainTT-fz: 35px;
  --mobile-EngTT-fz: 25px;
  --mobile-menu-fz: 23px;
  /* --mobile-KrTT-fz:20px; */
  /* --mobile-menu-fz:18px; */
  /* --mobile-mainTT-fz:12px; */
  --mobile-content-fz: 10px;
  --mobile-tab-fz: 9px;
  --mobile-btn-fz: 8px;
}

/* ========================== 변수끝 ============================ */

/* ====== 폰트, 기본 스타일 ====== */

body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: var(--content-fz);
  color: var(--typo-C-Green);
}

h2 {
  font-weight: 900;
  font-size: var(--big-TT-fz);
  /* 51 */
}

h3 {
  font-size: var(--main-TT-fz);
  /* 37 */
}

h4 {
  font-size: var(--second-TT-fz);
  /* 27 */
}

/* description */

p {
  font-weight: 300;
  font-size: var(--second-TT-fz);
}

.preview_widget p {
  font-size: inherit;
}

a {
  text-decoration: none;
  color: var(--typo-C-Green);
}

img {
  vertical-align: bottom;
}

/* =============================== 공통영역 ============================== */

/* 헤더(배너) - 각각 파트 css에서 배경 이미지(background-image로!!) 지정 */
header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#logo a {
  display: inline-block;
  background: url(../img/logo_black.png) no-repeat 0 27px / contain;
  overflow: hidden;
  width: 133px;
  height: 27px;
  text-indent: -9999em;
  padding-bottom: 100vh;
}

#logo-mobile {
  display: none;
  width: 100px;
  height: 20.38px;
  position: absolute;
  z-index: 10000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo-mobile img {
  width: 100%;
  object-fit: contain;
  box-shadow: none !important;
}

/* ========= FOOTER ======== */

footer {
  background: var(--typo-C-Green);
}

footer * {
  font-size: var(--xsmall-content-fz);
  font-weight: 400;
  color: var(--bg-white);
}

footer .terms {
  padding: 10px 0 32px;
}
footer .terms a:nth-child(3) {
  font-weight: 700;
}

footer .terms a {
  padding-right: 15px;
}

footer address dl {
  padding-bottom: 9px;
}

footer address dl:first-of-type {
  padding: 22px 0 9px;
}

footer address dl dt {
  padding-right: 2px;
}

footer address dl dd {
  padding-right: 15px;
}

footer .terms a:not(:nth-child(3)),
footer address dl:last-of-type *,
footer address p {
  color: var(--typo-C-lightgrey);
}

footer .footer-logo {
  margin: 0 auto;
  display: block;
  width: 157px;
  height: 32px;
  text-indent: -999em;
  background: url(../img/logo_white.png) no-repeat 0 0 / contain;
}

footer address p {
  padding-bottom: 12px;
  font-size: var(--xsmall-content-fz);
}

#go-top {
  background: var(--primary-green);
  color: var(--bg-white);
  width: 37px;
  height: 37px;
  border-radius: 50%;
  position: fixed;
  line-height: 37px;
  text-align: center;
  bottom: 33px;
  right: 9%;
  display: none;
  /* =========0203추가 */
  z-index: 100;
  /* === 0209 추가 */
  transition: background 0.3s;
}

#go-top:hover {
  background: var(--primary-ygreen);
}

@media (max-width: 960px) {
  #go-top {
    right: 7%;
  }
}

/* 푸터 반응형 */
@media (max-width: 576px) {
  .terms {
    flex-wrap: wrap;
    gap: 12px;
  }
  .terms a {
    width: 30%;
    text-align: center;
  }
  address dl.d-flex {
    gap: 12px;
    flex-wrap: wrap;
  }
  address dl.d-flex > dt {
    padding: 0;
    width: 18%;
  }
  address dl.d-flex > dd {
    padding: 0;
    width: 60%;
  }
  .facility-information {
    margin-bottom: 0;
  }
}

/* ===== aside nav bar ===== */

.aside-nav {
  position: fixed;
  gap: 45.55px;
  top: 50%;
  transform: translateY(-50%);
  right: 3%;
  z-index: 99;
}

.aside-nav * {
  display: inline-block;
}

.aside-nav a {
  font-size: var(--xsmall-content-fz);
  color: var(--primary-green);
  font-weight: 500;
  display: none;
}

.nav-text {
  visibility: hidden;
}

.aside-nav a span:last-child {
  margin-left: 10px;
  width: 18px;
  height: 18px;
  background: var(--primary-ygreen);
  border-radius: 50%;
  position: relative;
  transform: scale(0.8);
}

.aside-nav a:hover span:last-child,
.aside-nav a.active span:last-child {
  background: var(--primary-green);
  transform: scale(1);
}

.aside-nav a.active .nav-text {
  visibility: visible;
}

.aside-nav a span:last-child:after {
  top: 100%;
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  height: 55.5px;
  border: 1.8px dashed var(--primary-green);
  left: 50%;
  transform: translateX(-50%);
}

.aside-nav a:last-child span:last-child:after {
  display: none;
}
.aside-nav a:hover .nav-text {
  visibility: visible;
}

.aside-nav a.active span:last-child:after {
  transform: scale(0.8) translateX(-50%);
}

/* ======================= // 마우스바운싱 애니메이션 ===================== */

.icon_mouse {
  width: 31px;
  height: 48px;
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  animation: bounce 0.8s infinite;
  cursor: pointer;
}

.icon_mouse img {
  box-shadow: none !important;
}

@keyframes bounce {
  0% {
    transform: translateX(-50%) translateY(0);
    animation-timing-function: ease-in;
  }

  45% {
    transform: translateX(-50%) translateY(60%);
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  }

  90% {
    transform: translateX(-50%) translateY(0);
  }
}

/* ======================= // 메뉴 ===================== */

.containerBox {
  width: 80%;
  margin: 0 auto;
}

.menu h2 {
  margin: 8px 0 13px;
}
.menu p {
  font-size: var(--content-fz);
}
.menu {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  left: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  transition: left 0.7s;
  z-index: 200;
  text-align: center;
}
.menu a {
  color: #fff;
  text-decoration: none;
}
.menu .menus {
  gap: 30px;
}
.menu .main_menu {
  font-size: 27px;
  padding: 27px;
  border-bottom: 2px solid #fff;
}
.menu .sub_menu {
  opacity: 0.7;
  font-size: 20px;
  margin: 45px 0;
}
.menus .sub_menu:hover:not(.disable) {
  opacity: 1;
  font-weight: bold;
}
.menus .sub_menu.disable a {
  cursor: default;
}
.menu .sub_menu:first-child {
  padding-top: 45px;
}
.menu .sub_menu:last-child {
  margin-bottom: 0;
}

.menu .sub_menu li a {
  color: #fff;
  display: inline-block;
  font-size: 20px;
  margin-bottom: 25px;
}
.menu.active {
  left: 0;
  z-index: 100;
}

.menu .button {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  width: 32px;
  height: 135px;
  transition: 0.7s;
  z-index: 200;
}
.menu .button:before {
  content: "";
  display: block;
  width: 7px;
  height: 35px;
  background: #000;
  border: 1px solid #fff;
  position: absolute;
  top: 42%;
  left: 50%;
  transition: 0.7s;
  border-radius: 2px;
}
.menu .button:after {
  border-radius: 2px;
  content: "";
  display: block;
  width: 7px;
  height: 35px;
  background: #000;
  border: 1px solid #fff;
  position: absolute;
  bottom: 42%;
  left: 20%;
  transition: 0.7s;
}
.menu .button i {
  display: none !important;
}
.menu .button.active {
  right: 45px;
}
.menu .button.active::before {
  left: 30%;
  transform: rotate(45deg) translate(0px, -8px);
  background: #fff;
}
.menu .button.active::after {
  left: 30%;
  transform: rotate(-45deg) translate(0px, 10px);
  background: #fff;
}

/* ======================= // 위젯 ===================== */

:link {
  text-decoration: none;
}
.container {
  width: 1440px;
}
.widget_box {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 150;
}

/* large .ver */
.weather_cast {
  left: -173px;
  width: 173px;
  height: 232px;
  background: #000;
  color: #fff;
  box-sizing: border-box;
  position: absolute;
  border-radius: 0 10px 10px 0;
}

.weather_cast .preview {
  text-align: center;
  padding: 10px 15px;
  box-sizing: content-box;
  margin-bottom: 7px;
}
.weather_cast .preview ul {
  margin: 0 auto;
  padding: 0;
}
.weather_cast .preview ul li {
  margin: 0 auto;
  list-style: none;
}
.weather_cast .preview ul li > * {
  display: none;
}
.weather_cast .preview ul li i:before {
  font-size: 45px;
}
.weather_cast .preview p {
  font-size: var(--small-content-fz);
  margin-bottom: 0;
}
.weather_cast .preview .temp {
  margin: auto auto;
}
.weather_cast .preview .temp p:first-child {
  margin-bottom: 5px;
}
.weather_cast .preview .temp p {
  font-weight: bold;
}
.weather_cast .preview .temp p span {
  font-weight: normal;
}
.weather_cast .swiper {
  width: 80%;
  margin-bottom: 6px;
}
.weather_cast .swiper-wrapper {
  list-style: none;
  padding: 0;
  text-align: center;
  margin-bottom: 0;
}
.weather_cast div:after,
.weather_cast div:before {
  display: none;
}
.weather_cast .swiper-slide p {
  font-size: 10px;
  margin: 0;
  color: #fff;
  font-weight: normal;
}
.weather_cast [class^="swiper-button"] {
  font-size: 5px;
}
.weather_cast .swiper-button-prev {
  top: 35%;
  left: -7px;
  color: #fff;
}
.weather_cast .swiper-button-next {
  top: 35%;
  right: -7px;
  color: #fff;
  z-index: 1;
}
.weather_cast .swiper-slide.active {
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
}
.weather_cast .shortcut i {
  transition: 0.5s;
}
.weather_cast .shortcut > * {
  text-align: center;
  padding: 11.5px 0px;
}
.weather_cast .shortcut a {
  color: #fff;
}
.weather_cast .shortcut > *:hover {
  background: #fff;
}
.weather_cast .shortcut > *:hover a,
.weather_cast .shortcut > *:hover i {
  color: #000;
}
.weather_cast .shortcut > *:hover i {
  transform: translateY(360deg);
  perspective: 100px;
}
.weather_cast .shortcut p {
  font-size: var(--content-fz);
}
.weather_cast .shortcut i {
  font-size: var(--content-fz);
}
.weather_cast .shortcut .map {
  text-indent: 6px;
}

/* small .ver */

.preview_widget {
  position: absolute;
  left: -40px;
  text-align: center;
  width: 90px;
  height: 232px;
  background: #000;
  color: #fff;
  position: relative;
  z-index: 200;
  padding-left: 38px;
  border-radius: 0 10px 10px 0;
}
.preview_widget .today_icon {
  padding: 10px;
  font-size: 30px;
}
.preview_widget p {
  margin-bottom: 18px;
}
.preview_widget .today_temp span {
  display: none;
}

.preview_widget .today_temp p {
  font-size: var(--mobile-content-fz);
}
.preview_widget .today_temp p:nth-child(2)::before {
  content: "/";
  margin: 0 3px;
}
.preview_widget .today_date p {
  font-size: var(--xsmall-content-fz);
  font-weight: normal;
}

/* =======================반응형 태블릿(768)================== */
@media screen and (max-width: 768px) {
  /* ========== 메뉴 ========== */
  .containerBox {
    width: 85%;
  }
  h2 {
    margin: 8px 0 13px;
  }
  p {
    font-size: var(--content-fz);
  }
  .menu {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    left: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    transition: left 0.7s;
    z-index: 200;
    text-align: center;
  }
  .menu a {
    color: #fff;
    text-decoration: none;
  }
  .menu .menus {
    gap: 30px;
  }
  .menu .main_menu {
    font-size: 27px;
    padding: 27px;
    border-bottom: 2px solid #fff;
  }
  .menu .sub_menu {
    font-size: 20px;
    margin: 45px 0;
  }
  .menu .sub_menu:first-child {
    padding-top: 45px;
  }
  .menu .sub_menu:last-child {
    margin-bottom: 0;
  }

  .menu .sub_menu li a {
    color: #fff;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 25px;
  }
  .menu .sub_menu li a:hover {
    font-weight: bold;
    text-decoration: underline;
  }
  .menu.active {
    left: 0;
    z-index: 110;
  }

  .menu .button {
    position: fixed;
    /* background: black; */
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    width: 32px;
    height: 135px;
    z-index: 200;
  }
  .menu .button.active {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 35px;
    width: 32px;
    height: 135px;
    z-index: 200;
  }
  .menu .button:before {
    content: "";
    display: block;
    width: 6px;
    height: 30px;
    background: #000;
    border: 1px solid #fff;
    position: absolute;
    top: 42%;
    left: 50%;
    transition: 0.7s;
    border-radius: 2px;
  }
  .menu .button:after {
    border-radius: 2px;
    content: "";
    display: block;
    width: 6px;
    height: 30px;
    background: #000;
    border: 1px solid #fff;
    position: absolute;
    bottom: 42%;
    left: 20%;
    transition: 0.7s;
  }
  .menu .button i:before {
    display: none;
  }
  .menu .button.active::before {
    left: 30%;
    transform: rotate(45deg) translate(5px, -10px);
    background: rgb(255, 255, 255);
  }
  .menu .button.active::after {
    left: 30%;
    transform: rotate(-45deg) translate(4px, 12px);
    background: rgb(255, 255, 255);
  }

  @media screen and (max-width: 768px) {
    /* ========== 숨김컨텐츠 ========== */
    .aside-nav {
      display: none !important;
    }
    /* ========== 메뉴 ========== */

    .containerBox {
      width: 85%;
    }
    .menu .menus {
      gap: 20px;
    }
    .menu .main_menu {
      font-size: 18px;
    }
    .menu .sub_menu {
      font-size: 12px;
    }
    .menu a {
      white-space: nowrap;
    }
  }
}

/* 푸터 반응형 */
@media (max-width: 576px) {
  .terms {
    flex-wrap: wrap;
    gap: 12px;
  }
  .terms a {
    width: 30%;
    text-align: center;
  }
  address dl.d-flex {
    gap: 12px;
    flex-wrap: wrap;
  }
  address dl.d-flex > dt {
    padding: 0;
    width: 18%;
  }
  address dl.d-flex > dd {
    padding: 0;
    width: 60%;
  }
  .facility-information {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 500px) {
  /* ========== 숨김컨텐츠 ========== */
  .widget_box {
    display: none !important;
  }
  .footer-notice-wrapper {
    display: none;
  }
  /* ========== 메뉴 ========== */
  .menu {
    position: fixed;
    gap: 30px;
    background: rgba(24, 34, 26, 0.8);
    left: 0;
    top: auto;
    left: 0;
    bottom: 100%;
    transition: bottom 0.7s;
    z-index: 100;
  }
  .menu .menus {
    flex-direction: column;
  }
  .menu .menus li {
    margin-top: 27px;
  }
  .menu .menus ul {
    display: none;
  }
  .menu .main_menu {
    font-size: 18px;
  }
  .menu .sub_menu {
    font-size: 12px;
  }
  .menu .main_menus {
    width: 90%;
    gap: 50px;
    border: none;
    flex-direction: column;
  }
  .menu.active {
    bottom: 0;
  }
  .menu .button {
    position: fixed;
    background: #1b221a;
    top: 0;
    transform: none;
    width: 100%;
    height: 60px;
    right: auto;
    z-index: 90;
  }
  .menu .button.active {
    position: fixed;
    background: #1b221a;
    top: 0;
    transform: none;
    width: 100%;
    height: 60px;
    right: auto;
    z-index: 90;
  }
  .menu .button:before {
    height: 6px;
    width: 30px;
    background: #fff;
    top: 33%;
    left: 84%;
  }
  .menu .button:after {
    height: 6px;
    width: 30px;
    background: #fff;
    top: 53%;
    left: 86%;
  }

  .menu .button.active::before {
    left: 85%;
    transform: rotate(-45deg) translate(-1px, -5px);
    transform-origin: right;
    background: #fff;
  }
  .menu .button.active::after {
    left: 85%;
    transform: rotate(45deg) translate(1px, 8px);
    transform-origin: right;
    background: #fff;
  }
  .menu .button i:before {
    display: block;
    font-size: 35px;
    line-height: 60px;
    padding-left: 18px;
    color: #fff;
  }
  .menu .button i {
    display: block !important;
  }

  /* =================== 반응형 모바일 헤더, 푸터 */

  header {
    position: relative;
  }

  footer .footer-logo {
    width: 104px !important;
    height: 21px !important;
  }

  /* ===================== 푸터 반응형 360 ===================== */

  footer {
    display: block;
  }
  footer * {
    color: var(--typo-C-lightgrey) !important;
  }
  footer address * {
    width: auto !important;
  }
  footer .terms {
    font-size: var(--mobile-content-fz);
    line-height: 10px;
    justify-content: center !important;
    flex-wrap: nowrap !important;
    gap: 0 !important;
    padding-bottom: 13px !important;
  }
  footer .terms a:nth-child(3) {
    font-weight: 400;
  }

  footer address dl *,
  footer address p {
    font-size: var(--mobile-tab-fz) !important;
    line-height: 9px;
  }

  .facility-information {
    margin-bottom: 0;
  }
  footer .terms a:nth-child(2n) {
    display: none;
  }
  footer .terms a:last-child {
    display: inline-block;
    padding-right: 0;
  }
  footer .terms a {
    width: auto;
    padding-right: 32px;
    font-size: var(--mobile-content-fz) !important;
  }
  footer address dl:first-of-type {
    padding-top: 12px !important;
  }
  footer address dl dt {
    padding-right: 0;
  }

  footer address dl dt:first-of-type {
    padding-left: 15%;
  }
  footer address dl dd:first-of-type {
    padding-right: 13%;
  }

  address dl.d-flex {
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 7px;
  }

  footer address dl dt {
    padding-right: 2px;
  }

  footer address dl dd {
    padding-right: 15px;
  }
  footer address dl:nth-of-type(2),
  footer address dl:nth-of-type(3) {
    display: none !important;
  }
  footer address p {
    padding-bottom: 15px !important;
  }
  .icon_mouse {
    display: none;
  }

  #logo-mobile {
    display: block;
  }
}
/* ======================== */

#menu-logo {
  display: none;
  top: 30px;
  /* opacity: 0; */
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  width: 135px;
  /* height: 27px; */
}

#menu-logo img {
  box-shadow: none !important;
  width: 100%;
  object-fit: contain;
}
/* 
#logo a {
  display: inline-block;
  background: url(../img/logo_black.png) no-repeat 0 27px / contain;
  overflow: hidden;
  width: 133px;
  height: 27px;
  text-indent: -9999em;
  padding-bottom: 100vh;
} */
