@media (min-width: 1400px) {
  .container {
    max-width: 1440px;
  }
}

@media screen and (max-width: 1200px) {
  .swiper-slide a {
    width: 120px;
    height: 120px;
    line-height: 120px;
  }
  .swiper-button-next {
    top: 60px;
  }
  .swiper-button-prev {
    top: 60px;
  }
}

@media screen and (max-width: 992px) {
  .swiper-slide a {
    width: 80px;
    height: 80px;
    line-height: 80px;
  }
}
