/* @media (min-width: 1400px) {
  .container {
    max-width: 1440px;
  }
} */

@media screen and (max-width: 768px) {
  .containerBox {
    width: 85%;
  }
  .aside-nav {
    display: none !important;
  }
  /* 메뉴 */
  .menu .menus {
    gap: 20px;
  }
  .menu .main_menu {
    font-size: 18px;
  }
  .menu .sub_menu {
    font-size: 12px;
  }
  .menu a {
    white-space: nowrap;
  }

  /* 코스갤러리 */
  #course_gallery button {
    font-size: 14px;
    margin-right: 15px;
  }
  #course_gallery .mix-wrapper img {
    height: 200px;
  }

  /* 홀인원 */
  #holeinone .item {
    width: 100px;
  }
  #holeinone .item img {
    width: 100px;
    height: 80px;
  }
  #holeinone .item p {
    word-break: keep-all;
  }
  #holeinone .gap-5 {
    gap: 1.2rem !important;
  }

  #course .swiper {
    padding: 5px 20px;
  }
  #course .swiper-slide a {
    font-size: 12px;
    width: 70px;
    height: 70px;
    line-height: 70px;
  }
  #course .swiper-button-next {
    top: 40px;
    font-size: 36px;
    right: 5px;
  }
  #course .swiper-button-prev {
    top: 40px;
    font-size: 36px;
    left: 5px;
  }
  #course .fa-hand-pointer {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  footer {
    display: none;
  }
  .widget_box {
    display: none !important;
  }
  .menu {
    position: fixed;
    gap: 30px;
    background: rgba(24, 34, 26, 0.8);
    left: 0;
    top: auto;
    left: 0;
    bottom: 100%;
    transition: bottom 0.7s;
    z-index: 100;
  }
  .menu .menus {
    flex-direction: column;
  }
  .menu .menus li {
    margin-top: 27px;
  }
  .menu .menus ul {
    display: none;
  }
  .menu .main_menu {
    font-size: 18px;
  }
  .menu .sub_menu {
    font-size: 12px;
  }
  .menu .main_menus {
    width: 90%;
    gap: 50px;
    border: none;
    flex-direction: column;
  }
  .menu.active {
    bottom: 0;
  }
  .menu .button {
    position: fixed;
    background: #1b221a;
    top: 0;
    transform: none;
    width: 100%;
    height: 60px;
    right: auto;
    z-index: 90;
  }
  .menu .button:before {
    height: 6px;
    width: 30px;
    background: #fff;
    top: 33%;
    left: 84%;
  }
  .menu .button:after {
    height: 6px;
    width: 30px;
    background: #fff;
    top: 53%;
    left: 86%;
  }
  .menu .button.active::before {
    left: 85%;
    transform: rotate(-45deg) translate(-1px, -5px);
    transform-origin: right;
    background: #fff;
  }
  .menu .button.active::after {
    left: 85%;
    transform: rotate(45deg) translate(1px, 8px);
    transform-origin: right;
    background: #fff;
  }
  .menu .button i {
    display: block;
    font-size: 50px;
  }

  h2 {
    font-size: var(--mobile-mainTT-fz);
  }
  h3 {
    font-size: var(--mobile-menu-fz);
  }
  p {
    font-size: var(--second-content-fz);
  }
  #course_gallery,
  #holeinone {
    display: none;
  }
  #course_wv {
    background-image: none;
    padding: 64px 0;
  }
  .img_container {
    border: none;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background: #dfdfdf;
  }
  #hole_desc #tabs ul li {
    padding: 8px 0px;
  }
  #hole_desc #tabs > ul li a:hover {
    text-decoration: none;
  }
  #hole_desc #tabs ul li a {
    /* font-size: 10px; */
    /* line-height: 10px; */
    letter-spacing: 0.2em;
  }
  #tabs > ul {
    flex-direction: column;
  }
  .img_container img {
    width: 90%;
  }
  #hole_desc #tabs .tab_group {
    padding: 43px 0px;
  }
  .containerBox h2 {
    margin-bottom: 0;
  }
  #hole_desc .swiper-slide a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  [class^="swiper-button"] {
    display: none;
  }
  #hole_desc .swiper {
    padding: 0;
  }
  #hole_desc .fa-hand-pointer {
    margin-top: 10px;
    display: block;
    color: #234a35;
    font-size: 30px;
    animation: highlight 1.5s infinite;
  }
  @keyframes highlight {
    0% {
      transform: translateX(0px);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(0px);
    }
    75% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  #tabs .img_container {
    margin-bottom: 76px;
  }
}
