header {
  background: url(../img/course_img/course_banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.containerBox {
  width: 80%;
  margin: 0 auto;
}
/* section:코스소개 */
#course {
  text-align: center;
}
#tabs {
  position: relative;
}

#tabs li {
  height: 90%;
  list-style: none;
}
#tabs .img_container {
  width: 100%;
}
#course_wv {
  background-image: linear-gradient(
    360deg,
    rgba(139, 166, 61, 0.5) 0%,
    rgba(139, 166, 61, 0.5) 50%,
    #fff 50%,
    #fff 100%
  );
  padding: 108px 0;
}

#course_wv > * {
  opacity: 0;
}
#course_wv p {
  margin-bottom: 73px;
}
.img_container {
  width: 80%;
  background: #fff;
  margin: 0 auto;
  border: 10px solid #dfdfdf;
  padding: 35px 0px;
}
.img_container img {
  width: 70%;
}

/* section: 코스설명 */
#hole_desc #tabs > ul {
  padding: 0;
  margin-bottom: 0;
}
#hole_desc #tabs > ul li {
  background: #234a35;
  border: 1px solid #000;
  padding: 28px 0px;
}
#hole_desc #tabs > ul li.active {
  background: #fff;
}
#hole_desc #tabs > ul li.active a {
  color: #234a35;
}
#hole_desc #tabs > ul li:hover {
  background: #fff;
}
#hole_desc #tabs > ul li:hover a {
  color: #234a35;
}
#hole_desc #tabs > ul li a {
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}
#hole_desc #tabs > ul li a:hover {
  text-decoration: underline;
}
#hole_desc #tabs .tab_group {
  padding: 163px 0px 82px;
}
#hole_desc #tabs .tab_group p {
  margin: 57px 0;
}
#tabs .swiper {
  padding: 10px 40px;
  margin-bottom: 76px;
}
#tabs .swiper-container {
  position: relative;
  width: 100%;
  margin-bottom: 76px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0;
}
#tabs .swiper-slide {
  width: auto;
  display: flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
  align-items: center; /* 위아래 기준 중앙정렬 */
  justify-content: center; /* 좌우 기준 중앙정렬 */
  margin: 0 auto;
}

#tabs .swiper-button-prev {
  color: #181818;
  font-size: 57px;
  position: absolute;
  top: 80px;
  left: 10px;
}
#tabs .swiper-button-next {
  color: #181818;
  font-size: 57px;
  position: absolute;
  top: 80px;
  right: 10px;
}
#tabs div:after,
#tabs div:before {
  display: none;
}
#tabs .swiper-slide a {
  display: block;
  width: 150px;
  height: 100%;
  text-align: center;
  line-height: 150px;
  border-radius: 50%;
  background: #8ba63d;
  margin: 0;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}
#tabs .swiper-slide.ui-state-hover a {
  background: #234a35;
}
#tabs .swiper-slide.ui-tabs-active a {
  background: #234a35;
}
#tabs .swiper-slide a {
  color: #fff;
  text-decoration: none;
}
/* section: 코스갤러리 */
#course_gallery {
  padding-top: 81px;
}
#course_gallery > .mix-wrapper {
  margin: 108px 0px 216px;
}
#course_gallery button {
  width: 20%;
  height: 54px;
  background: #8ba63d;
  color: #fff;
  border: none;
  margin-right: 33px;
  padding: 0;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}
#course_gallery button.active {
  background: #234a35;
  color: #fff;
}
#course_gallery button:last-child {
  margin-right: 0;
}
#course_gallery .mix-wrapper img {
  height: 400px;
  object-fit: cover;
  padding: 10px;
}
#course_gallery .mix-wrapper img {
  opacity: 0;
  transform: translateX(10px) rotateY(180deg);
  perspective: 300px;
  cursor: pointer;
}
#course_gallery .course_img_big {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  transition: 1s;
  z-index: 100;
}
#course_gallery .course_img_big img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 70%;
}
#course_gallery .course_img_big i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  color: #000;
  font-size: 32px;
  position: absolute;
  top: 10%;
  left: 90%;
}

/* section: 홀인원 */
#holeinone {
  width: 100%;
  background: #f0f6e2;
  padding: 164px 0px 74px;
}
#holeinone > div {
  padding: 54px 0px;
}
#holeinone .containerBox h2 {
  margin-bottom: 72px;
}

#holeinone .item {
  width: 180px;
}
#holeinone .item img {
  border-radius: 50%;
  width: 180px;
  height: 180px;
}
#holeinone .item img:hover {
  border: 5px solid #234a35;
}
#holeinone .item p {
  font-size: 24px;
}
#holeinone .item p:nth-child(2) {
  width: 83px;
  height: 27px;
  background: #234a35;
  color: #fff;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 6px;
}
#holeinone .east_course {
  width: 100%;
  background: rgba(139, 166, 61, 0.5);
}
