header {
  background: url(../img/course_img/course_banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.containerBox {
  width: 80%;
  margin: 0 auto;
}

/* section:메뉴 */
h2 {
  margin: 8px 0 13px;
}
p {
  font-size: var(--content-fz);
}
.menu {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  left: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  transition: left 0.7s;
  z-index: 200;
  text-align: center;
}
.menu a {
  color: #fff;
  text-decoration: none;
}
.menu .menus {
  gap: 30px;
}
.menu .main_menu {
  font-size: 27px;
  padding: 27px;
  border-bottom: 2px solid #fff;
}
.menu .sub_menu {
  font-size: 20px;
  margin: 45px 0;
}
.menu .sub_menu:first-child {
  padding-top: 45px;
}
.menu .sub_menu:last-child {
  margin-bottom: 0;
}

.menu .sub_menu li a {
  color: #fff;
  display: inline-block;
  font-size: 20px;
  margin-bottom: 25px;
}
.menu .sub_menu li a:hover {
  font-weight: bold;
  text-decoration: underline;
}
.menu.active {
  left: 0;
  z-index: 100;
}

.menu .button {
  position: fixed;
  /* background: black; */
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  width: 32px;
  height: 135px;
  z-index: 200;
}
/* .menu .button p {
  text-align: center;
  line-height: 135px;
  color: #fff;
} */
.menu .button:before {
  content: "";
  display: block;
  width: 6px;
  height: 30px;
  background: #000;
  border: 1px solid #fff;
  position: absolute;
  top: 42%;
  left: 50%;
  transition: 0.7s;
  border-radius: 2px;
}
.menu .button:after {
  border-radius: 2px;
  content: "";
  display: block;
  width: 6px;
  height: 30px;
  background: #000;
  border: 1px solid #fff;
  position: absolute;
  bottom: 42%;
  left: 20%;
  transition: 0.7s;
}
.menu .button i {
  display: none;
}
.menu .button.active::before {
  left: 30%;
  transform: rotate(45deg) translateY(-5px);
  background: #fff;
}
.menu .button.active::after {
  left: 30%;
  transform: rotate(-45deg) translateY(5px);
  background: #fff;
}
.menu .button.active p {
  text-align: center;
  line-height: 135px;
  color: #000;
}

/* section: 위젯 */

:link {
  text-decoration: none;
}
.container {
  width: 1440px;
}
.widget_box {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 150;
}

/* large .ver */
.weather_cast {
  left: -173px;
  width: 173px;
  height: 232px;
  background: #000;
  color: #fff;
  box-sizing: border-box;
  position: absolute;
  border-radius: 0 10px 10px 0;
}

.weather_cast .preview {
  text-align: center;
  padding: 10px 15px;
  box-sizing: content-box;
  margin-bottom: 7px;
}
.weather_cast .preview ul {
  margin: 0 auto;
  padding: 0;
}
.weather_cast .preview ul li {
  margin: 0 auto;
  list-style: none;
}
.weather_cast .preview ul li > * {
  display: none;
}
.weather_cast .preview ul li i:before {
  font-size: 45px;
}
.weather_cast .preview p {
  font-size: var(--small-content-fz);
  margin-bottom: 0;
}
.weather_cast .preview .temp {
  margin: auto auto;
}
.weather_cast .preview .temp p:first-child {
  margin-bottom: 5px;
}
.weather_cast .swiper {
  width: 80%;
  margin-bottom: 6px;
}
.weather_cast .swiper-wrapper {
  list-style: none;
  padding: 0;
  text-align: center;
  margin-bottom: 0;
}
.weather_cast div:after,
.weather_cast div:before {
  display: none;
}
.weather_cast .swiper-slide p {
  font-size: 10px;
  margin: 0;
  color: #fff;
  font-weight: normal;
}
.weather_cast [class^="swiper-button"] {
  font-size: 5px;
}
.weather_cast .swiper-button-prev {
  top: 35%;
  left: -7px;
  color: #fff;
}
.weather_cast .swiper-button-next {
  top: 35%;
  right: -7px;
  color: #fff;
  z-index: 1;
}
.weather_cast .shortcut > * {
  text-align: center;
  padding: 11.5px 0px;
}
.weather_cast .shortcut > *:hover {
  background: #fff;
  color: #000;
}
.weather_cast .shortcut p {
  font-size: var(--content-fz);
}
.weather_cast .shortcut i {
  font-size: var(--content-fz);
}
.weather_cast .shortcut .map {
  text-indent: 6px;
}

/* small .ver */

.preview_widget {
  position: absolute;
  left: -40px;
  text-align: center;
  width: 90px;
  height: 232px;
  background: #000;
  color: #fff;
  position: relative;
  z-index: 200;
  padding-left: 38px;
  border-radius: 0 10px 10px 0;
}
.preview_widget .today_icon {
  padding: 10px;
  font-size: 30px;
}
.preview_widget p {
  margin-bottom: 18px;
}
.preview_widget .today_temp span {
  display: none;
}

.preview_widget .today_temp p {
  font-size: var(--mobile-content-fz);
}
.preview_widget .today_temp p:nth-child(2)::before {
  content: "/";
  margin: 0 3px;
}
.preview_widget .today_date p {
  font-size: var(--xsmall-content-fz);
  font-weight: normal;
}

/* section:코스소개 */
#course {
  text-align: center;
}
#tabs {
  position: relative;
}

#tabs li {
  height: 90%;
  list-style: none;
}
#tabs .img_container {
  width: 100%;
}
#course_wv {
  background-image: linear-gradient(
    360deg,
    rgba(139, 166, 61, 0.5) 0%,
    rgba(139, 166, 61, 0.5) 50%,
    #fff 50%,
    #fff 100%
  );
  padding: 108px 0;
}
#course_wv p {
  margin-bottom: 73px;
}
.img_container {
  width: 80%;
  background: #fff;
  margin: 0 auto;
  border: 10px solid #dfdfdf;
  padding: 35px 0px;
}
.img_container img {
  width: 70%;
}

/* section: 코스설명 */
#hole_desc #tabs > ul {
  padding: 0;
  margin-bottom: 0;
}
#hole_desc #tabs > ul li {
  background: #234a35;
  border: 1px solid #000;
  padding: 28px 0px;
}
#hole_desc #tabs > ul li.active {
  background: #fff;
}
#hole_desc #tabs > ul li.active a {
  color: #234a35;
}
#hole_desc #tabs > ul li:hover {
  background: #fff;
}
#hole_desc #tabs > ul li:hover a {
  color: #234a35;
}
#hole_desc #tabs > ul li a {
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}
#hole_desc #tabs > ul li a:hover {
  text-decoration: underline;
}
#hole_desc #tabs .tab_group {
  padding: 163px 0px 82px;
}
#hole_desc #tabs .tab_group p {
  margin: 57px 0;
}
#tabs .swiper {
  padding: 10px 40px;
  margin-bottom: 76px;
}
#tabs .swiper-container {
  position: relative;
  width: 100%;
  margin-bottom: 76px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0;
}
#tabs .swiper-slide {
  width: auto;
  display: flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
  align-items: center; /* 위아래 기준 중앙정렬 */
  justify-content: center; /* 좌우 기준 중앙정렬 */
  margin: 0 auto;
}

#tabs .swiper-button-prev {
  color: #181818;
  font-size: 57px;
  position: absolute;
  top: 80px;
  left: 10px;
}
#tabs .swiper-button-next {
  color: #181818;
  font-size: 57px;
  position: absolute;
  top: 80px;
  right: 10px;
}
#tabs div:after,
#tabs div:before {
  display: none;
}
#tabs .swiper-slide a {
  display: block;
  width: 150px;
  height: 100%;
  text-align: center;
  line-height: 150px;
  border-radius: 50%;
  background: #8ba63d;
  margin: 0;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}
#tabs .swiper-slide.ui-state-hover a {
  background: #234a35;
}
#tabs .swiper-slide.ui-tabs-active a {
  background: #234a35;
}
#tabs .swiper-slide a {
  color: #fff;
  text-decoration: none;
}
/* section: 코스갤러리 */
#course_gallery {
  padding-top: 81px;
}
#course_gallery > .mix-wrapper {
  margin: 108px 0px 216px;
}
#course_gallery button {
  width: 20%;
  height: 54px;
  background: #8ba63d;
  color: #fff;
  border: none;
  margin-right: 33px;
  padding: 0;
}
#course_gallery button.active {
  background: #234a35;
  color: #fff;
}
#course_gallery button:last-child {
  margin-right: 0;
}
#course_gallery .mix-wrapper img {
  height: 400px;
  object-fit: cover;
  padding: 10px;
}
#course_gallery .course_img_big {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  transition: 1s;
  z-index: 100;
}
#course_gallery .course_img_big img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 70%;
}
#course_gallery .course_img_big i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  color: #000;
  font-size: 32px;
  position: absolute;
  top: 10%;
  left: 90%;
}

/* section: 홀인원 */
#holeinone {
  width: 100%;
  background: #f0f6e2;
  padding: 164px 0px 74px;
}
#holeinone > div {
  padding: 54px 0px;
}
#holeinone .containerBox h2 {
  margin-bottom: 72px;
}

#holeinone .item {
  width: 180px;
}
#holeinone .item img {
  border-radius: 50%;
  width: 180px;
  height: 180px;
}
#holeinone .item img:hover {
  border: 5px solid #234a35;
}

#holeinone .item p:nth-child(2) {
  width: 83px;
  height: 27px;
  background: #234a35;
  color: #fff;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 6px;
}
#holeinone .east_course {
  width: 100%;
  background: rgba(139, 166, 61, 0.5);
}
