@import url(./common.css);

main {
  overflow-x: hidden;
}

header {
  background-image: url(../img/main-img/main_banner.webp);
}

img:not(#event-slides *) {
  object-fit: cover;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.main-course {
  margin-bottom: 317px;
}

.course-desc,
.img-wrapper,
.south-wrapper,
div,
section {
  padding: 0;
}

.main-course p {
  font-size: var(--content-fz);
  font-weight: 300;
  line-height: 27px;
}

.main-course .course-desc h2,
#event-slides h2 {
  font-size: var(--main-TT-fz);
  font-weight: 500;
  margin-bottom: 55px;
  display: inline-block;
}

#event-slides h2 {
  margin-top: 0;
  margin-bottom: 100px;
}

.main-course .img-wrapper img {
  width: 100%;
}
.main-course a {
  display: inline-block;
  color: var(--bg-white);
  text-align: center;
  line-height: 30px;
  font-size: var(--second-content-fz);
  font-weight: 400;
  width: 160px;
  height: 30px;
  border-radius: 5px;
  background: var(--primary-green);
  margin-top: 54px;
  transition: background 0.3s cubic-bezier(0.65, 0, 0.35, 1);
}

.main-course .west-course a {
  margin-bottom: 187px;
}
.main-course a:hover {
  background: var(--primary-ygreen);
}

.east-course {
  padding-top: 181px;
  margin: 0 0 196px;
}

.west-course {
  margin: 0 auto;
}

.west-course h2 {
  padding-top: 161px;
}

.west-wrapper {
  background: var(--bg-green);
}
.south-course {
  margin: 0 191px 0;
  padding-top: 191px;
}

.main-slide ul li {
  display: inline-block;
}

.main-slide a img {
  width: 314px;
  object-fit: contain;
}

.footer-notice-wrapper {
  background: var(--bg-grey);
  height: 54px;
  line-height: 54px;
}

footer .notice *,
footer .notice a {
  font-size: var(--content-fz);
  font-weight: 400;
  color: var(--typo-C-Green);
}

footer .notice-slide {
  width: 500px;
}

.main-slide {
  margin-bottom: 80px;
}

.main-slide li {
  padding: 0 22px;
}
.slideWrapper {
  width: 1110px;
  position: relative;
}

.controls > * {
  position: absolute;
  top: 121.625px;
  transform: translateY(-50%);
}

.controls .next {
  right: -20px;
}

.controls .prev {
  left: -20px;
}
.round-btn {
  display: block;
  text-align: center;
  line-height: 38px;
  width: 124px;
  height: 38px;
  font-weight: 400;
  font-size: var(--second-content-fz);
  background: var(--primary-ygreen);
  color: var(--bg-white);
  border-radius: 20px;
  margin-bottom: 231px;
  margin-left: auto;
  margin-right: 20px;
  transition: background 0.3s cubic-bezier(0.65, 0, 0.35, 1);
}

.round-btn:hover {
  background: var(--primary-green);
}

.main-course {
  position: relative;
}

.main-course::before {
  content: "";
  display: block;
  position: absolute;
  width: 166px;
  height: 34px;
  background: url(../img/logo_black.png) no-repeat 0 0 / contain;
  left: 50%;
  transform: translateX(-50%);
  top: -63px;
  z-index: 100;
}

.west-course .course-desc,
.east-course .course-desc,
.south-course .course-desc {
  position: relative;
}

.fa-solid.fa-plus {
  margin-right: 2px;
}

.mobile-btn {
  opacity: 0;
  font-size: var(--mobile-content-fz);
  text-align: center;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.5);
  width: 109px;
  height: 28px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.5);
  letter-spacing: 0.16em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -8%;
  transition: top 0.6s cubic-bezier(0.65, 0, 0.35, 1);
  /* top: 80%; */
  /* overflow: hidden; */
}

.west-course .mobile-btn {
  top: 2%;
}
.south-course .mobile-btn::after,
.west-course .mobile-btn::after,
.east-course .mobile-btn::after {
  display: inline-block;
  position: absolute;
  font-size: var(--mobile-EngTT-fz);
  letter-spacing: 0.05em;
  font-weight: 700;
  line-height: 25px;
  width: 200%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Noto Sans KR", sans-serif;
}

.east-course.active .mobile-btn,
.south-course.active .mobile-btn {
  top: -75%;
  opacity: 1;
}

.west-course.active .mobile-btn {
  top: -57%;
  opacity: 1;
}

.south-course .mobile-btn::after {
  content: "south course";
}
.west-course .mobile-btn::after {
  content: "west course";
}
.east-course .mobile-btn::after {
  content: "east course";
}

.main-course::before {
  display: none;
}

/* ========================================== 반응형 */

@media (max-width: 1200px) {
  .main-course {
    margin-bottom: 360px;
  }

  .slideWrapper {
    width: 100%;
  }
  .main-slide {
    width: 100%;
  }

  .main-slide li img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  /* 섹션 1 */

  .east-course .img-wrapper,
  .south-course .img-wrapper {
    margin-bottom: 70px;
  }

  .west-course h2 {
    padding-top: 70px;
  }

  .west-course .img-wrapper {
    margin-top: 180px;
  }

  .east-course {
    margin-bottom: 140px;
  }

  .main-course {
    margin-bottom: 200px;
  }

  .main-course a {
    align-self: center !important;
    margin-top: 45px;
  }

  .footer-notice-wrapper .notice > h4,
  .footer-notice-wrapper .notice > a {
    display: none;
  }

  .main-course a {
    margin-bottom: 120px;
  }
  .main-course .west-course .img-wrapper {
    margin-top: 120px;
  }

  .east-course {
    margin-bottom: 0;
    padding-top: 120px;
  }
  .south-course {
    padding-top: 120px;
  }
}

@media (max-width: 576px) {
  .controls {
    display: none;
  }
  footer .notice-slide {
    width: 425px;
  }
  .footer-notice-wrapper .notice {
    justify-content: center !important;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 0;
    width: auto !important;
  }

  .main-course {
    margin-bottom: 0;
  }

  .main-course .course-desc a {
    margin-bottom: 0;
  }

  .south-course {
    padding: 0;
  }

  .west-course .img-wrapper {
    margin-top: 0 !important;
  }

  .course-desc a {
    margin-bottom: 0 !important;
  }

  .west-wrapper {
    background: none;
  }
  .west-wrapper .img-wrapper {
    margin-top: 0;
  }

  .main-course p {
    text-align: left !important;
  }

  .main-course .course-desc {
    padding: 0 16px;
  }

  .main-course .course-desc h2 {
    font-size: var(--mobile-KrTT-fz);
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .main-course p {
    font-size: var(--mobile-content-fz);
    line-height: 14px;
  }
  .east-course {
    margin-top: 94px;
    margin-bottom: 0;
    padding-top: 0;
  }
  .east-course,
  .west-course,
  .south-course {
    width: 100%;
  }
  .east-course .img-wrapper,
  .south-course .img-wrapper {
    margin-bottom: 20px;
  }
  .east-course .course-desc,
  .west-course .course-desc,
  .south-course .course-desc {
    align-items: start !important;
  }

  .west-course .course-desc > h2 {
    padding-top: 20px;
  }

  .course-desc a {
    background: none;
  }
  .main-course .west-course a {
    background: none;
    margin-bottom: 0;
  }

  .web-btn {
    display: none;
  }

  .mobile-btn {
    display: inline-block;
  }

  .south-course {
    margin: 0;
  }
  main > .container {
    display: none;
  }

  .mobile-btn.active {
    top: -75%;
  }
  .west-course .mobile-btn.active {
    top: -62%;
  }
  .main-course::before {
    display: block;
  }
}

/* .main-course a {
    margin-top: 45px;
  } */
/* ============== */

/* .terms {
    flex-wrap: wrap;
    gap: 12px;
  }
  .terms a {
    width: 30%;
    text-align: center;
  } */
/* address dl.d-flex {
    gap: 12px;
    flex-wrap: wrap;
  } */
/* address dl.d-flex > dt {
    padding: 0;
    width: 18%;
  } */
/* address dl.d-flex > dd {
    padding: 0;
    width: 60%;
  } */

/* footer address dl dd:nth-of-type(2) {
    padding-right: 30%;
  } */

/* address dl.d-flex {
    flex-wrap: wrap;
  } */

/* =========================== popup ============================= */

.pop-up * {
  line-height: 27px;
  font-size: var(--second-content-fz);
}

.pop-up img {
  box-shadow: none !important;
  width: 140px;
  margin-bottom: 20px;
}

.pop-up {
  z-index: 99999;
  width: 500px;
  padding: 40px;
  position: fixed;
  top: 8%;
  left: 10%;
  background: white;
  border: 5px solid var(--primary-green);
  border-radius: 5px;
}

.pop-up h2 {
  font-weight: 700;
  margin: 10px 0;
}

.pop-up h3 {
  font-weight: 400;
}

.pop-up a {
  font-size: var(--second-content-fz);
  font-weight: 600;
}

.pop-up a::after {
  content: ",";
}
.pop-up a:last-child:after {
  display: none;
}

.pop-up .popup-tt {
  font-weight: 700;
  padding-bottom: 20px;
}

.popup-close {
  text-align: center;
  border: none;
  width: 30px;
  height: 30px;
  background: var(--primary-ygreen);
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
}
