@import url(./common.css);

/* header {
  background: #000;
} */

#logo {
  /* padding: 27px 0 676px; */
  /* color: #f00; */
  /* background-image: url(../img/골프코스배너.jpg); */
}

.east-course {
  margin: 181px 0 196px;
}

.west-course {
  margin: 135px 0;
}
.south-course {
  margin: 191px 0;
}
