@import url(./common.css);

main {
  overflow-x: hidden;
}
.circles > * {
  width: 19px;
  height: 19px;
  background: var(--primary-green);
  border: 5px solid var(--primary-ygreen);
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.circle1 {
  top: 11.8%;
}
.circle2 {
  top: 111.5%;
}

.desc-history,
.desc-contest,
div,
section,
.history-img-wrapper,
.contest-img-wrapper,
img {
  padding: 0;
}

header {
  background-image: url(../img/notice-img/notice_banner.png);
}

h3,
h4 {
  font-size: var(--second-TT-fz);
}
h4,
p {
  line-height: 27px;
}

.preview_widget p {
  line-height: inherit;
  font-size: inherit;
}

h3 {
  font-weight: 500;
  color: var(--typo-C-grey);
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
h4 {
  font-weight: 700;
  color: var(--primary-green);
  vertical-align: top;
}
h2 {
  font-size: var(--big-TT-fz);
  color: var(--typo-C-Green);
  font-weight: 900;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
p:not(.widget_box p):not(footer address p) {
  font-weight: 300;
  font-size: var(--content-fz);
  color: var(--typo-C-Green);
  vertical-align: top;
}

img:not(#directions *):not(#api_map *) {
  object-fit: cover;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.desc-history > h2,
.desc-history > h3 {
  text-align: left;
}

.desc-contest > h2,
.desc-history > h2 {
  margin-bottom: 108px;
}

[class^="desc"] > h3 {
  margin-bottom: 4px;
}

.desc-facility > h3,
.desc-facility > h2,
.desc-directions > h3,
.desc-directions > h2 {
  margin-bottom: 5px;
}

[class^="desc"] > h4,
.directions > h4 {
  font-weight: 300;
  font-size: var(--content-fz);
  color: var(--typo-C-Green);
  letter-spacing: 0.1em;
  line-height: 27px;
}

.history-img-wrapper .img-container,
.contest-img-wrapper .img-container {
  width: 413px;
}

section img,
.history-img-wrapper img,
.contest-img-wrapper img {
  width: 100%;
}

.desc-history ul li > *,
.desc-contest ul li > *,
.desc-rocess-guide ul li > *,
.desc-cart-guide ul li > * {
  display: inline-block;
}
.desc-history ul li,
.desc-rocess-guide ul li,
.desc-cart-guide ul li {
  display: flex;
}

[class^="desc"] ul li p {
  text-align: left;
}

.desc-history ul li,
.desc-contest ul li,
.desc-rocess-guide ul li,
.desc-cart-guide ul li {
  margin-bottom: 27px;
}

.desc-history ul li:last-child,
.desc-contest ul li:last-child {
  margin: 0;
}

.desc-history ul li h4,
.desc-rocess-guide ul li h4,
.desc-cart-guide ul li h4 {
  margin-right: 29px;
}

.desc-contest ul li h4 {
  margin-left: 28px;
}

.history-img-wrapper {
  padding-left: 33px;
}

.history-img-wrapper,
.contest-img-wrapper {
  position: relative;
  z-index: 1;
}

.history-img-wrapper::after,
.contest-img-wrapper::after {
  content: "";
  display: block;
  position: absolute;

  width: 223px;
  height: 223px;
  z-index: -1;
}

.history-img-wrapper::after {
  top: 53.5%;
  left: -0.3%;
  border: 8px solid var(--primary-ygreen);
}
.contest-img-wrapper::after {
  top: 51.5%;
  right: -2.5%;
  background: var(--primary-ygreen);
}

.history-img-wrapper img {
  margin-bottom: 240px;
}

.contest-img-wrapper img {
  margin-bottom: 268px;
}

.contest-img-wrapper {
  padding-right: 33px;
}

.history {
  margin-top: 218px;
}
.contest {
  padding-left: 34px;
}

/* cart ============================== */

.rocess-wrapper {
  background: var(--bg-green);
}

.desc-r > h4 {
  padding-bottom: 86px;
}
.desc-r {
  padding-top: 100px;
}

.desc-rocess-guide {
  padding-right: 0;
  padding-left: 52px;
}

.rocess-guide-img-wrapper {
  margin-bottom: 183px;
}

.desc-c {
  padding-top: 129px;
}

.desc-c > h4 {
  padding-bottom: 74px;
}

.desc-cart-guide {
  margin-bottom: 271px;
}
/* =========================================== */
.facility-information ul li h4 {
  font-size: var(--main-TT-fz);
  font-weight: 500;
  line-height: 37px;
  color: var(--typo-C-Green);
  margin: 27px 0 17px;
}

.facility-information ul li h4,
.facility-information ul li p {
  text-align: left;
}

.facility-nav-wrapper {
  padding-left: 85px;
}

.facility .facility-nav-wrapper > ul {
  padding-bottom: 27px;
  border-bottom: 3px solid var(--secondary-brown);
  position: relative;
}
.facility .facility-nav-wrapper > ul #bar {
  display: block;
  z-index: 3;
  position: absolute;
  width: 20%;
  border-bottom: 3px solid var(--primary-ygreen);
  left: 38px;
  transition: 0.4s cubic-bezier(0.65, 0, 0.35, 1);
  bottom: -3px;
}

/* .facility .facility-nav-wrapper > ul li.active ul #bar {
  opacity: 1;
} */
.facility .facility-nav-wrapper > ul li.active a {
  color: var(--typo-C-Green);
  font-weight: 700;
}

.facility-nav-wrapper ul li a {
  color: var(--secondary-brown);
  font-size: var(--second-TT-fz);
  font-weight: 500;
}
.fac-pager {
  margin-top: 27px;
  margin-bottom: 85px;
  gap: 27px;
}

.fac-pager a {
  text-indent: -9999em;
  overflow: hidden;
  display: inline-block;
  width: 9px;
  height: 9px;
  background: var(--typo-C-lightgrey);
  border-radius: 50%;
  transition: 0.3s;
}

.fac-pager a.active {
  background: #123723;
}

.facility-wrapper {
  background: var(--secondary-ivory);
}

.desc-facility {
  padding-top: 63px;
  padding-bottom: 78px;
}

.fac-nav-img-wrapper {
  margin-top: 54px;
}

.facility-nav-wrapper .fac-nav-img-wrapper img,
.facility-information .facility-info-wrapper {
  display: none;
}

.facility-nav-wrapper .fac-nav-img-wrapper img.active,
.facility-information .facility-info-wrapper.active {
  display: block;
}

/* ===================== directions === */

.desc-directions {
  margin-top: 243px;
}
/* .map-wrapper {
  padding-top: 783px;
} */

.desc-directions h4 {
  margin-bottom: 76px;
}

/* ========================= header absolute */

.history,
.contest {
  position: relative;
}

header::after,
.history::before,
.contest::before {
  content: "";
  display: block;
  position: absolute;
}

.history::before {
  height: 2065px;
  top: -218px;
  transform: translateX(-50%);
  bottom: -100%;
}

header::after,
.history::before,
.contest::before {
  z-index: -1;
  border: 2px solid #a08b73;
}

.history::before,
.contest::before {
  left: 50%;
}

.contest::before {
  width: 100%;
  top: -87%;
}

header::after {
  width: 100%;
  right: 50%;

  top: 234%;
}

.preview_shortcut p,
.today_temp p {
  line-height: 0;
}

/* ===================================== map api //상혁 ======================================== */

/* ======================= kakao map api =========================== */
.map-wrapper {
  display: flex;
  justify-content: center;
}

#api_map {
  width: 100%;
  height: 85vh;
}
.api_overlay {
  width: 316px;
  height: 135px;
  background: rgba(24, 31, 27, 0.8);
  padding: 29px 32px;
}

.api_overlay p:first-child {
  color: #fff;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 27px;
}
.api_overlay p:first-child i {
  margin-right: 15px;
}
.api_overlay p:nth-child(2) {
  color: #8ba63d;
  font-size: 18px;
  font-weight: 500;
  margin-left: 36px;
  line-height: 27px;
}
.api_overlay p:last-child {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

/* ===================== 반응형 ============================= */

@media (max-width: 1200px) {
  header::after,
  .history::before,
  .contest::before,
  .circles {
    display: none;
  }
  .lines-2 h4:last-of-type {
    font-size: var(--mobile-EngTT-fz);
  }
  .facility-info-wrapper p {
    margin-bottom: 120px;
  }
}
@media (max-width: 1000px) {
  .facility-nav-wrapper ul li a {
    font-size: var(--content-fz);
  }
}

@media (max-width: 992px) {
  .history-img-wrapper::after,
  .contest-img-wrapper::after,
  .history-img-wrapper img,
  .contest-img-wrapper img {
    display: none;
  }
  .history {
    margin-bottom: 125px;
  }

  .contest {
    margin-bottom: 130px;
  }

  .desc-directions {
    margin-top: 120px;
  }
}
@media (max-width: 768px) {
  .history {
    margin-bottom: 125px;
    margin-top: 170px;
  }
  .history-img-wrapper img,
  .contest-img-wrapper img {
    margin-bottom: 170px;
  }
  .rocess-guide-img-wrapper,
  .cart-guide-img-wrapper {
    display: none !important;
  }
  .desc-rocess-guide {
    padding-left: 15px;
    padding-bottom: 120px;
  }
  .desc-cart-guide {
    margin-bottom: 130px;
  }
  .desc-facility {
    padding-top: 120px;
  }
  .facility-nav-wrapper {
    padding-left: 0;
  }
  .facility-information ul li h4 {
    margin: 38px 0 20px;
  }
  .facility-information {
    margin-bottom: 130px;
  }
}

@media (max-width: 576px) {
  .desc-history,
  .desc-contest {
    padding: 0 12px;
  }
  .facility-nav-wrapper {
    padding-left: 12px;
  }

  .facility-information {
    margin-bottom: 0;
  }
}

/* ====== // 리팩터링 전, 윤희 0203 */

/* ============= 모바일 ========================= */
@media (max-width: 361px) {
  .container {
    padding: 0 12px;
    width: auto !important;
  }
  .history {
    margin: 94px 0;
  }
  .desc-history,
  .desc-rocess-guide {
    padding: 0;
  }
  .rocess-guide {
    padding: 0 12px;
  }
  .desc-r > h4 {
    padding-bottom: 10px;
  }
  .container .history .desc-history h2,
  .container .contest .desc-contest h2,
  .rocess-wrapper .desc-r h2,
  .facility-wrapper .desc-facility h2,
  .facility-information .facility-info-wrapper h4 {
    font-size: var(--mobile-KrTT-fz);
    line-height: 20px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .desc-history ul li h4,
  .desc-rocess-guide ul li h4,
  .desc-cart-guide ul li h4 {
    margin-right: 16px;
  }
  .desc-contest ul li h4 {
    margin-left: 16px;
  }
  .rocess-wrapper .desc-r h2 {
    margin-bottom: 5px;
  }
  .facility-information .facility-info-wrapper h4 {
    margin-top: 20px;
  }
  .container .history .desc-history h3,
  .container .contest .desc-contest h3,
  .rocess-wrapper .desc-r h3,
  .facility-wrapper .desc-facility h3 {
    font-size: var(--mobile-content-fz);
    line-height: 12px;
    font-weight: 300;
    margin-bottom: 10px;
    /* display: none; */
  }

  .container .history .desc-history p,
  .container .contest .desc-contest p,
  .rocess-wrapper .desc-r p,
  .rocess-wrapper .desc-rocess-guide p,
  .facility-wrapper .facility-info-wrapper p {
    font-size: var(--mobile-content-fz);
    vertical-align: top;
    /* line-height: 10px; */
    font-weight: 400;
  }
  .facility-wrapper .facility-info-wrapper p {
    line-height: 17px;
    margin-bottom: 94px;
  }
  .desc-r > h4 {
    font-size: var(--small-content-fz);
    padding-bottom: 20px;
  }
  /* .container .contest .desc-contest ul li {
    justify-content: center !important;
  } */
  .desc-history ul li,
  .desc-contest ul li,
  .desc-rocess-guide ul li,
  .desc-cart-guide ul li {
    margin-bottom: 0px;
  }

  .container .history .desc-history ul li h4,
  .container .contest .desc-contest ul li h4,
  .rocess-wrapper .desc-r ul li h4,
  .rocess-wrapper .desc-rocess-guide h4,
  .facility-wrapper .desc-facility h4 {
    font-size: var(--small-content-fz);
    /* vertical-align: top; */
  }
  #cart {
    display: none;
  }
  .rocess-wrapper {
    background: none;
  }
  .desc-r {
    padding: 0;
  }
  .contest,
  .rocess-wrapper {
    margin-bottom: 94px;
  }
  .facility .facility-nav-wrapper ul li a {
    font-size: var(--small-content-fz);
  }
  .desc-facility {
    padding: 65px 0 35px;
  }

  .facility-wrapper .facility .facility-nav-wrapper ul {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: none;
  }
  .fac-nav-img-wrapper {
    margin: 0;
  }
  .facility-wrapper .facility .facility-nav-wrapper ul #bar {
    display: none;
  }
  .fac-pager {
    margin: 15px 0;
    gap: 10px;
  }
  .directions {
    display: none;
  }
  footer {
    display: block;
  }
  .facility-information .facility-info-wrapper h4 {
    margin: 20px 0 15px;
  }
  .facility-wrapper .desc-facility h2 {
    margin-bottom: 10px;
  }
  /* .facility-information ul li h4{

  } */
}
