:link {
  text-decoration: none;
}
.container {
  width: 1440px;
}
.box {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

/* large .ver */
.weather_cast {
  left: -173px;
  width: 173px;
  height: 232px;
  background: #000;
  color: #fff;
  box-sizing: border-box;
  position: absolute;
  border-radius: 0 10px 10px 0;
}
/* .weather_cast.active {
  left: 0;
} */
.preview {
  text-align: center;
  padding: 10px 15px;
  box-sizing: content-box;
  margin-bottom: 7px;
}
.preview ul {
  margin: 0 auto;
  padding: 0;
}
.preview ul li {
  margin: 0 auto;
  list-style: none;
}
.preview ul li > * {
  display: none;
}
.preview ul li i:before {
  font-size: 45px;
}
.preview p {
  font-size: var(--small-content-fz);
  margin-bottom: 0;
}
.preview .temp {
  margin: auto auto;
}
.preview .temp p:first-child {
  margin-bottom: 5px;
}
.swiper {
  width: 80%;
  margin-bottom: 6px;
}
.swiper-wrapper {
  list-style: none;
  padding: 0;
  text-align: center;
  margin-bottom: 0;
}
div:after,
div:before {
  display: none;
}
.swiper-slide p {
  font-size: 10px;
  margin: 0;
  color: #fff;
}
[class^="swiper-button"] {
  font-size: 5px;
}
.swiper-button-prev {
  top: 35%;
  left: -7px;
  color: #fff;
}
.swiper-button-next {
  top: 35%;
  right: -7px;
  color: #fff;
  z-index: 1;
}
.shortcut > * {
  text-align: center;
  padding: 11.5px 0px;
}
.shortcut p {
  font-size: var(--content-fz);
}
.shortcut i {
  font-size: var(--content-fz);
}
.shortcut .faq {
  background: #fff;
  color: #000;
}
.shortcut .map {
  text-indent: 6px;
}

/* small .ver */

.preview_widget {
  position: absolute;
  left: -40px;
  text-align: center;
  width: 90px;
  height: 232px;
  background: #000;
  color: #fff;
  position: relative;
  z-index: 2;
  padding-left: 38px;
  border-radius: 0 10px 10px 0;
}
.today_icon {
  padding: 10px;
  font-size: 30px;
}
.preview_widget p {
  margin-bottom: 15px;
}
.preview_widget .today_temp span {
  display: none;
}

.preview_widget .today_temp p {
  font-size: var(--mobile-content-fz);
}
.preview_widget .today_temp p:nth-child(2)::before {
  content: "/";
  margin: 0 3px;
}
.today_date p {
  font-size: var(--xsmall-content-fz);
  font-weight: normal;
}

.swiper-slide p {
  font-weight: normal;
}
